#left-panel {
    width: 70%;
    /* border: panel $primary; */
    scrollbar-size: 0 0;
}
#right-panel {
    width: 30%;
    /* border: panel $primary; */
}

TensorInfoTable {
    border: solid $accent;
}

TensorDetailView {
    border: solid $accent;
}

Input {
    margin: 1 1;
    width: 100%;
}